In [1]:
import django 
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()
from sch.models import *
import datetime as dt
from django.db.models import CharField
from sch.actions import *
from sch.xviews import week

In [2]:
from sch.actions import *
from sch.xviews import week

In [3]:
week.get_days("2022-W42")

In [4]:
emps = Employee.objects.in_other_slot(workday=Workday.objects.get(slug='2022-10-31'),shift=Shift.objects.get(name='7C'))
emps = emps.filter(shifts_trained=Shift.objects.get(name='7C'))
emps

In [5]:
shiftsPerWeek = 0
for sft in Shift.objects.filter(start__hour__gte=10, cls='CPhT').values_list('occur_days',flat=True):
    shiftsPerWeek += len(sft)
shiftsPerWeek

28

In [6]:
for emp in Employee.objects.all():
    if Slot.objects.filter(employee=emp).exists():
        print(emp,Slot.objects.filter(employee=emp,shift__start__hour__gte=10).count()/Slot.objects.filter(employee=emp).count()*100)

Josh 10.0
Sabrina 12.903225806451612
Brianna 0.0
Molly 32.35294117647059
Doug 34.146341463414636
Brittanie 0.0
Esperanza 2.3255813953488373
Carrie 22.727272727272727
Elisia 83.78378378378379
Jaden 46.51162790697674
Lynlee 24.324324324324326
Carol 36.84210526315789
Trisha 28.000000000000004
Danica 100.0
Tiffany 33.33333333333333
Brianna S 0.0
Amanda 100.0
Michael 100.0
Mona 100.0
Mary 100.0
Mark B 100.0
Andrew 41.46341463414634
Mei 100.0
Tony 100.0
Sam 34.883720930232556
David 60.97560975609756
Nicki 42.5
Kristen 65.625
Shaun 15.0
Alex 47.5
Leslie 0.0
Kat 43.75
Bara 100.0
Erin 0.0
Dianne 100.0
Cheryl 66.66666666666666
Corwin 0.0

In [7]:
today = Workday.objects.get(date=dt.date.today())
today_slots = Slot.objects.filter(workday=today).order_by('shift__start')
for slot in today_slots:
    if slot.employee.cls == "CPhT":
        print (slot)

221106-7P Esperanza
221106-EI David
221106-3 Mona
221106-N Amanda

In [9]:
weekWds = today.siblings_iweek
weekSlots = Slot.objects.filter(workday__in=weekWds).order_by('-employee')
for slot in weekSlots[:20]:
    print(slot)

221106-RS Corwin
221107-MI Cheryl
221108-EI Cheryl
221110-EI Cheryl
221111-EI Cheryl
221109-RS Erin
221110-M Kat
221111-PC Kat
221111-7C Leslie
221107-RS Alex
221108-R3 Alex
221110-R3 Alex
221107-C Shaun
221108-E Shaun
221112-I Shaun
221106-M Kristen
221108-M Kristen
221109-R3 Kristen
221110-E Kristen
221107-7C Nicki

In [10]:
def getTradableSlots(slot):
    print('INPUT: ', slot)
    emp = slot.employee
    sft = slot.shift
    wd = slot.workday
    weekdays = slot.workday.siblings_iweek
    daysOn = Slot.objects.filter(workday__in = weekdays,employee = emp).values('workday').distinct()
    daysOff = weekdays.exclude(pk__in=daysOn)
    print('daysOff:',list(daysOff.values_list('date__day',flat=True)))
    tenable = []
    slotDaysOff = Slot.objects.filter(workday__in=daysOff, shift__in=emp.shifts_available.all()).order_by('workday')
    print(slotDaysOff)
    for slotB in slotDaysOff:
        if emp in slot.fillableBy():
            if slotB.employee in slot.fillableBy():
                tenable.append(slotB)
    print('tenableTrades:',len(tenable),[f'{i.shift}>{i.workday.date.day}' for i in tenable])
    return tenable

In [11]:
slots = Slot.objects.filter(employee__name="Trisha",workday__iweek=43,workday__date__year=2022)
for slot in slots:
    print('-------------')
    print(slot.is_turnaround)
    getTradableSlots(slot)

-------------
0
INPUT:  221026-7P Trisha
daysOff: [24, 27, 28, 29]
<SlotManager [<Slot: 221024-MI Cheryl>, <Slot: 221024-S Jaden>, <Slot: 221024-7C None>, <Slot: 221024-7P Josh>, <Slot: 221024-OP Brittanie>, <Slot: 221024-EI David>, <Slot: 221024-EP Nicki>, <Slot: 221024-3 Mona>, <Slot: 221024-N Amanda>, <Slot: 221027-MI Elisia>, <Slot: 221027-S Tiffany>, <Slot: 221027-7C Nicki>, <Slot: 221027-7P Sabrina>, <Slot: 221027-OP Brittanie>, <Slot: 221027-EI Jaden>, <Slot: 221027-EP David>, <Slot: 221027-3 Danica>, <Slot: 221027-N Michael>, <Slot: 221028-MI Josh>, <Slot: 221028-S Esperanza>, '...(remaining elements truncated)...']>
tenableTrades: 6 ['7P>24', '7P>27', 'MI>28', 'S>28', '7C>28', '7C>29']
-------------
0
INPUT:  221023-EP Trisha
daysOff: [24, 27, 28, 29]
<SlotManager [<Slot: 221024-MI Cheryl>, <Slot: 221024-S Jaden>, <Slot: 221024-7C None>, <Slot: 221024-7P Josh>, <Slot: 221024-OP Brittanie>, <Slot: 221024-EI David>, <Slot: 221024-EP Nicki>, <Slot: 221024-3 Mona>, <Slot: 221024-N Amanda>, <Slot: 221027-MI Elisia>, <Slot: 221027-S Tiffany>, <Slot: 221027-7C Nicki>, <Slot: 221027-7P Sabrina>, <Slot: 221027-OP Brittanie>, <Slot: 221027-EI Jaden>, <Slot: 221027-EP David>, <Slot: 221027-3 Danica>, <Slot: 221027-N Michael>, <Slot: 221028-MI Josh>, <Slot: 221028-S Esperanza>, '...(remaining elements truncated)...']>
tenableTrades: 0 []
-------------
0
INPUT:  221025-7C Trisha
daysOff: [24, 27, 28, 29]
<SlotManager [<Slot: 221024-MI Cheryl>, <Slot: 221024-S Jaden>, <Slot: 221024-7C None>, <Slot: 221024-7P Josh>, <Slot: 221024-OP Brittanie>, <Slot: 221024-EI David>, <Slot: 221024-EP Nicki>, <Slot: 221024-3 Mona>, <Slot: 221024-N Amanda>, <Slot: 221027-MI Elisia>, <Slot: 221027-S Tiffany>, <Slot: 221027-7C Nicki>, <Slot: 221027-7P Sabrina>, <Slot: 221027-OP Brittanie>, <Slot: 221027-EI Jaden>, <Slot: 221027-EP David>, <Slot: 221027-3 Danica>, <Slot: 221027-N Michael>, <Slot: 221028-MI Josh>, <Slot: 221028-S Esperanza>, '...(remaining elements truncated)...']>
tenableTrades: 9 ['7P>24', '3>27', 'MI>28', 'S>28', '7P>28', '3>28', '7C>29', '7P>29', '3>29']

In [19]:
wds = Workday.objects.filter(date__year=2022,ischedule=7)
ss = Slot.objects.filter(workday__in=wds)
ss

<SlotManager [<Slot: 221016-MI Tiffany>, <Slot: 221016-I Carrie>, <Slot: 221016-7P Brianna>, <Slot: 221016-3 Danica>, <Slot: 221016-R3 Andrew>, <Slot: 221016-RN Mary>, <Slot: 221016-EI David>, <Slot: 221016-7C Nicki>, <Slot: 221016-RS Sam>, <Slot: 221016-EP Elisia>, <Slot: 221017-7P Brianna>, <Slot: 221017-OP Brittanie>, <Slot: 221017-MO Brianna S>, <Slot: 221017-3 Danica>, <Slot: 221017-RN Mary>, <Slot: 221017-S Trisha>, <Slot: 221017-I Shaun>, <Slot: 221017-N Sam>, <Slot: 221017-EI Cheryl>, <Slot: 221017-7C Tiffany>, '...(remaining elements truncated)...']>

In [ ]:
for slot in Slot.objects.all():
    slot.save()

In [23]:
for wd in Workday.objects.filter(iweek=44):
    print(wd,wd.week)

2022 10 30 None
2022 10 31 None
2022 11 01 None
2022 11 02 None
2022 11 03 None
2022 11 04 None
2022 11 05 None

In [ ]:
Workday.objects.all().count()

366

In [ ]:
from django import forms
import datetime as dt
class ArticleForm(forms.Form):
     title = forms.CharField()
     pub_date = forms.DateField()

In [ ]:
""" 
Janetâ€™s ducks lay 16 eggs per day. She eats three for breakfast 
every morning and bakes muffins for her friends every day with 
four. She sells the remainder for $2 per egg. How much does she
make every day? SHOW YOUR CALCULATIONS
"""

# Define the number of eggs Janet's ducks lay per day.
eggs_per_day = 16

# Define the number of eggs Janet eats for breakfast every morning.
eggs_for_breakfast = 3

# Define the number of eggs Janet uses to bake muffins for her friends every day.
eggs_for_muffins = 4

# Define the price Janet sells her eggs for.
eggs_price = 2

# Calculate the number of eggs Janet has left over after eating breakfast and baking muffins.
eggs_leftover = eggs_per_day - eggs_for_breakfast - eggs_for_muffins

# Calculate the amount of money Janet makes selling her eggs.
eggs_money = eggs_leftover * eggs_price

# Print the number of eggs Janet has left over after eating breakfast and baking muffins.
print("Janet has " + str(eggs_leftover) + " eggs left over after eating breakfast and baking muffins.")

# Print the amount of money Janet makes selling her eggs.
print("Janet makes $" + str(eggs_money) + " selling her eggs.")

Janet has 9 eggs left over after eating breakfast and baking muffins.
Janet makes $18 selling her eggs.